* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

a {
    text-decoration: none;
}

.topcontent {
    height: 1024px;
    background-image: url(img/index_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.topcontent_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    padding-top: 217px;
    padding-bottom: 32px;
}

.topcontent_subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    padding-bottom: 44px;
}

.topcontent_button {
    background: #9C0332;
    border-radius: 30px;
    width: 234.06px;
    height: 48.6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    color: #FFFFFF;
}

.catalog {
    height: 556px;
    background: #000915;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12,1fr);
}

.catalog_image {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    grid-column: span 4;
    width: 378px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 32px;
    padding-bottom: 32px;
}

.catalog_image_1 {
    background-image: url(img/game1.png);
    background-repeat: no-repeat;
}

.catalog_image_2 {
    background-image: url(img/game2.png);
    background-repeat: no-repeat;
}

.catalog_image_3 {
    background-image: url(img/game3.png);
    background-repeat: no-repeat;
}